
.app {
  background: #2B2B2B;
  width: 100%;
}

body, html {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.project2 {
  background: #ebeeee;
  padding-top: 90px;
  padding-bottom: 60px;
}

.project2__body > h1 {
  font: 20px/30px 'opensans-semibold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 48px;
  color: #95A3A3;
}

.project2__container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.project2__body {
  width: 100%;
}

.project2__body > h1 > b {
  border-bottom: 3px solid;
  color: #11ABB0;
}

.project2__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
}

.project2__content > a {
  position: relative;
  color: white;
}

.project2__content > a > p > h3{
  border-bottom: 3px solid #11ABB0;
}

.project2__content > a > p{
  width: 350px;
  height: 240px;
  display: none;
  color: #191919;
  padding: 10px;
  z-index: 1;
}
.project2__content > a:hover > p {
  position: absolute;
  top: 40px;
  left: 30px;
  display: block;
}

.project2__content > a > img {
  margin: 30px;
  width: 350px;
  height: 240px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.project2__content > a:hover > img {
  opacity: 0.2;
  cursor: pointer;
  display: block;
}

.contact {
  display: flex;
  flex-direction: column;
  background: #191919;
  padding-top: 20px;
  padding-bottom: 80px;
  color: #636363;
}

.contact__formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__inputContainer > input {
  margin-left: 20px;
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 75%;
}

.contact__inputContainer {
  display: flex;
  justify-content: space-evenly;
}

.contact__inputContainer > textarea {
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 42px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 75%;
}

.contact__header > .MuiSvgIcon-root  {
  color: white;
  font-size: 90px !important;
  margin-left: 50px;
  margin-bottom: 50px;
}

.contact__button {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.contact__button > button  {
  padding: 20px;
  height: 20px;
  color: white;
  background: #373233;
}

.contact__button > button:hover  {
  padding: 20px;
  height: 20px;
  color: black;
  background: white;
}
