 /* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

*{
  padding: 0;
  margin: 0;
}


.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
  height: 100%;
  width: 100%;
}

.st-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 100%;
  /* border: 1px solid blue; */
  margin: 20px
}

.my-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 100%;
  /* border: 1px solid blue; */
  margin: 20px
}

.bo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 100%;
  /* border: 1px solid blue; */
  margin: 20px
}

.st-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid blue; */
  width: 50%;
}

.my-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  /* border: 1px solid blue; */
}

.bo-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  /* border: 1px solid blue; */
}

.st-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  margin: 20px
  /* border: 1px solid blue; */
}
.my-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  margin: 20px
  /* border: 1px solid blue; */
}
.bo-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  margin: 20px
  /* border: 1px solid blue; */
}

img {
  height: auto;
  width: 100%;
  min-width: 100px;
  /* border: 1px solid blue; */
}

.picture {
  height: auto;
  width: 100%;
  min-width: 100px;
  /* border: 1px solid blue; */
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 400px;
  width: 900px;
  /* border: 1px solid blue; */
  margin: 20px
}

.picture1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid blue; */
  height: 100%;
  width: 100%;
  margin-right: 100px
}
.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  height: 623px;
  width: 467px;
  margin: 50px
}

.icon-container {
  height: auto;
  width: 10%;
  min-width: 100px;
  display: flex;
  flex-direction: row;
} 

